html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.4em .75em .3em;
  border-radius: 8px;
  border: 0;
  text-decoration: none;
}

.btn-primary {
  background-color: #333;
  color: #fff;
}

.btn-primary:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.btn-primary:hover .btn {
  background-color: #234666;
}


.btn-subtle {
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
}

.btn-subtle-alt {
  background-color: #00675a;
}

.btn-subtle:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-subtle:hover .btn {
  background-color: #666;
}

.btn-ghost {
  display: inline-block;
  padding: 0.4em .75em .3em;
  border-color: #000;
  background-color: #fff;
  border: 1px solid #335532;
  border-radius: 8px;
  border: 0;
  color: #333;
  outline-color: #543632;
  text-decoration: none;
}

.btn-ghost-alt {
  background-color: #00675a;
}

.btn-ghost:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.btn-ghost:hover .btn {
  background-color: #000;
}

.btn-warning {
  display: inline-block;
  padding: 0.4em .75em .3em;
  background-color: #f33;
  border-radius: 8px;
  border: 0;
  color: #fff;
  text-decoration: none;
}

.btn-warning-alt {
  background-color: #00675a;
}

.btn-warning:hover {
  background-color: #933;
  border-color: #933;
  color: #fff;
}
.btn-warning:hover .btn {
  background-color: #933;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}
